{% extends "web/base.html" %}
{% load static %}
{% block contenido%}
<div class="central-section">
    <h2> Evaluación Ejecutivo</h2>

    <div id="gestion-otorgamiento" class="pilar-contenido">
        <h3> Pilar Formalidad </h3> 

    <label> Verificación Laboral </label>
<div class="inputs">
    <select name="respuesta-verificación-laboral">
    <option value=""> Selecione </option>
    <option value="sin-error"> SIN ERROR</option>
    <option value="error"> ERROR </option>
    <option value="n/a"> N/A </option>
    </select>
    <select name="tipo-error-verificacion-laboral">
        <option value=""> Selecione </option>
        <option value="no-esta-en-carpeta"> No esta en carpeta</option>
        <option value="verificacion-incompleta"> Verificación Incompleta</option>
    </select>
    <input type="text" name="observacion" placeholder="Observaciones">
        </div>
        
            <!-- Estado de Situacion--> 
        <label> Estado de Situación </label>
        <div class="inputs">
            <select name="respuesta-estado-situacion">
                <option value=>Selecione </option>
                <option value="sin-error"> SIN ERROR</option>
                <option value="error"> ERROR </option>
                <option value="N/A"> N/A </option>
            </select>
            <select name="tipo-error-estado-situacion">
                <option value=""> Selecione </option>
                <option value="e°s°-sin-fecha"> E° S° sin Fecha</option>
            </select>
            <input type="text" name="observaciones" placeholder="Observaciones">
        </div>
    
        <!-- Acreditación Ingresos--> 
        <label> Acreditación Ingresos </label>
        <div class="inputs">
            <select name="respuesta-acreditacion-ingresos">
                <option value=>Selecione</option>
                <option value="sin-error"> SIN ERROR </option>
                <option value="error"> ERROR </option>
                <option value="n/a"> N/A </option>
                </select>
                <select name="tipo-error-acreditación-ingresos">
                <option value=> Seleccione </option>
                <option value="sin-acreditaciones-cuenta-estudiante"> Sin Acreditaciones Cta. Estudiante</option>
                <option value="sin-acreditaciones-cta-mujer"> Sin Acreditaciones Cta. Mujer</option>
                <option value="sin-acreditaciones"> Sin Acreditaciones </option>
                <option value="acreditaciones-insuficientes"> Acreditaciones Insuficientes</option>
                <option value="documentacion-sin-validar"> Documentación sin Validar</option>
                <option value="faltan-antecedentes-empleador"> Faltan Antecedentes Empleador</option>
                <option value="falta-antecedentes-relacionados"> Faltan Antecedentes Relacionados</option>
                <option value="acreditación-con-inconsistencias"> Acreditación con Inconsistencias</option>
                </select>
                <input type="text" name="observaciones" placeholder="Observaciones">                                                  
        </div>            
        </div>      
    </div>          
{% endblock contenido%}