<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/registro.css' %}">
  <title>Registro de usuarios</title>
</head>

<body>
  <header class="header"> 
    <nav>
      <img src="{% static 'img/logoBch.png' %}" id="logo" alt="logoBch"> 
    </nav>
  </header>

 <section id="container">
    <div class="form-registro">
      <h1 class="title">Registro del Personal</h1>
      
      <!-- Mostrar mensaje si está presente -->
      {% if msg %}
        <div class="alert">{{ msg }}</div>
      {% endif %}
      
      <form class="form" method="POST" action="{% url 'registro' %}" onsubmit="return validarRegistro()">
        {% csrf_token %}
        <div class="input">
          <label for="nombres">Nombres:</label>
          <input type="text" name="nombres" id="nombres" required>
        </div>
        <div class="input">
          <label for="apellidos">Apellidos:</label>
          <input type="text" name="apellidos" id="apellidos" required>
        </div>
        <div class="input">
          <label for="email">Email:</label>
          <input type="email" name="email" id="email" required>
        </div>
        <div class="input">
          <label for="username">Nombre de usuario:</label>
          <input type="text" name="username" id="username" required>
        </div>
        <div class="input">
          <label for="password">Contraseña:</label>
          <input type="password" name="password" id="password" required>
        </div>
        <div class="input">
          <label for="confirm_password">Confirmar Contraseña:</label>
          <input type="password" id="confirm_password" required>
        </div>
        <div class="input">
          <div class="columna">
            <div class="caja-select">
              <label for="roles">Rol:</label>
              <select name="roles" id="roles" required>
                <option value="usuario">Analista de evaluación</option>
                <option value="admin">Supervisor</option>
              </select>
            </div>
          </div>
        </div>
        <button type="submit">Enviar</button>
      </form>
    </div>
 </section>

 <script src="{% static 'js/registro.js' %}"></script>
</body>
</html>